* {
    margin: 4px;
    padding: 0;
    
}

:root {
    --alkali_metals:#3396cb;
    --alkali_earth_metals:#3396cb;
    --lanthanides:#3396cb;
    --actinides:#3396cb;
    --transition_metals:#3396cb;
    --unknown_ele:#3396cb;
    --post_transition_metals:#3396cb;
    --metalliods:#3396cb;
    --other_non_metals:#3396cb;
    --halogens:#3396cb;
    --noble_gases:#3396cb;
}
body{
    background: black;
    font-family: monospace;
}
.Periodic_table {
    display: grid;
    grid-template-columns: repeat(18, 79px);
    grid-column-start: col-start 2;
    padding: 4px 24px 4px 9px;
}

.box {
    border: 1px solid white;
    color: white;
    font-weight: 500;
}
.atomic_no{
    font-size: 9px;
    position: absolute;
    font-family: monospace;
}

.symbol{
    position: relative;
    display: flex;
    align-items: center;
    left: 18px;
    top: 5px;
}

.name{
    font-size: 11px;
    display: flex;
    justify-content: center;
}

.atomic_mass{
    font-size: 10px;
    display: flex;
    justify-content: center;
}