* {
    margin: 4px;
    padding: 0;   
}

:root {
    --alkali_metals:#3396cb;
    --alkali_earth_metals:#3396cb;
    --lanthanides:#3396cb;
    --actinides:#3396cb;
    --transition_metals:#3396cb;
    --unknown_ele:#3396cb;
    --post_transition_metals:#3396cb;
    --metalliods:#3396cb;
    --other_non_metals:#3396cb;
    --halogens:#3396cb;
    --noble_gases:#3396cb;

    --c1:#36353786;
    --c2:#a5959ad3;
}
@keyframes background-pan{
    from { background-position:0% center; }
    to{background-position: -200% center;}
}
body{
    animation: background-pan 5s linear infinite;
    background: linear-gradient(to right,var(--c1),var(--c2),var(--c1));
    background-size: 200%;
    overflow: hidden;
    font-family: monospace;
}
.Periodic_table {
    background: transparent;
    display: grid;
    grid-template-columns: repeat(18, 79px);
    grid-column-start: col-start 2;
    padding: 4px 24px 4px 9px;
}

.box {
    border: 3px solid #000000;
    color: black;
    font-weight: 500;
}

.shell::backdrop {
    background:var(--background);
}

.box:hover,.box:active,.box:focus{
    border: 3px solid var(--background);
}
.select:focus,.select:active,.select:hover{
    color: var(--background);
}


.atomic_no{
    font-size: 9px;
    position: absolute;
    font-family: monospace;
}

.symbol{
    position: relative;
    display: flex;
    align-items: center;
    left: 18px;
    top: 5px;
}

.name{
    font-size: 11px;
    display: flex;
    justify-content: center;
}

.atomic_mass{
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}