* {
    margin: 4px;
    padding: 0;   
    user-select: none;
}

:root {
    --alkali_metals:#3396cb;
    --alkali_earth_metals:#3396cb;
    --lanthanides:#3396cb;
    --actinides:#3396cb;
    --transition_metals:#3396cb;
    --unknown_ele:#3396cb;
    --post_transition_metals:#3396cb;
    --metalliods:#3396cb;
    --other_non_metals:#3396cb;
    --halogens:#3396cb;
    --noble_gases:#3396cb;

    --c1:#3635379f;
    --c2:#a5959ad3;
}
@keyframes background-pan{
    from { background-position:0% center; }
    to{background-position: -200% center;}
}
body{
    /* animation: background-pan 5s linear infinite; */
    background: linear-gradient(to right,var(--c1),var(--c2),var(--c1));
    background-size: 200%;
    /* overflow: hidden; */
    font-family: monospace;
}
.Periodic_table {
    background: transparent;
    display: grid;
    grid-template-columns: repeat(18, 79px);
    grid-column-start: col-start 2;
    padding: 4px 24px 4px 9px;
    z-index: 1;
}

.box {
    border: 3px solid #000000;
    color: black;
    font-weight: 500;
    z-index: 2;
}

.output{
    background: black;
    color: white;
    position: absolute;
    top: 50%;
    max-width: 180px;
    max-height: 180px;
    left: 40%;
    right: 50%;
    opacity: 0;
    z-index: 3;
    border-radius: 5px;
    border: 8px solid #8983867a;
    transition: 1s ease-in-out;
    margin-block: -50px;
    padding: 3px;
    min-width: 180px;
    min-height: 180px;
}

.box:hover,.box:active,.box:focus{
    border: 3px solid var(--background);
}

.select:focus,.select:active,.select:hover{
    color: var(--background);
}

.atomic_no{
    font-size: 9px;
    position: absolute;
    font-family: monospace;
}

.symbol{
    position: relative;
    display: flex;
    align-items: center;
    left: 18px;
    top: 5px;
}

.name{
    font-size: 11px;
    display: flex;
    justify-content: center;
}

.atomic_mass{
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@media only screen and (max-width:700px) {
    html{
        transform:rotate(90deg);       
        width:100vh;  
        height:50vh;     
        padding: 10px;       
        position:absolute;
        /* top: 100%; */
        left:0;
        margin:0;        
    }
    *{
        padding:0;
        margin:0;
    }
    div{
        margin-top: 1px;;
    }
    .container{
        margin:130px;
    }

   
    .Periodic_table{
       
        /* padding: 2px 20px 2px 5px; */
        grid-template-columns: repeat(18,35px);
        height: 488px;
        width: 100px;
        /* margin-top: 22%; */
        
    }
    .box{
        border: 1px solid black;
    }
    .name{
        display: none;
    }
    .atomic_mass{
        display:none;
    }
    .symbol{
       left:8px;
       top:12px;
       font-size:10px;
    }
    #box{
        
        height:23px;
    }
}

.blur{
    filter: blur(8px);
    pointer-events:none;
    user-select: none;
    transition: .5s cubic-bezier(0.47, 0, 0.75, 0.72);
}