<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Periodic Table</title>
</head>
<body>
    <div class="Periodic_table" id="box">
        {% for atomic_no,symbol,name,atomic_mass,xpos,ypos in elements %}
        <div class="box" style="grid-column: {{xpos}};grid-row:{{ypos}};">
            <span class="atomic_no">{{atomic_no}}</span>
            <span class="symbol">{{symbol}}</span>
            <span class="name">{{name}}</span>
            <span class="atomic_mass">{{atomic_mass}}</span>
        </div>
        {% endfor %}
        <br>
       
    </div>
    <!-- <script src="app.js"></script> -->
</body>
</html>